.editorconfig
.git
.gitignore
.vscode

# Docker-related files
Dockerfile*
docker-compose*.yml
.dockerignore

*.tar

*README*
*.md

LICENSE

*.env
*.example

*node_modules*
*dist*
*build*
*.turbo

*logs*

tests/

result/